/*
* Media Queries
*/
@include media(765px) {
  .container {
    width: 100% !important;
    padding: 0 50px;
  }
  .col-8,
  .col-4 {
    flex-basis: 100%;
    width: 100%;
  }
  .formBg {
    display: none;
  }
}
@include media(900px) {
  .container {
    width: 100% !important;
    padding: 0 50px;
  }
  .col-8,
  .col-4 {
    flex-basis: 50%;
    width: 50%;
  }
}
